<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src = "../vue/vue.js"></script>
    </head>
    <body>
        <form id = "transactionForm">
            <label for="name">Name:</label>
            <input id = "name" v-model="name" placeholder="Name of Trans">
            <br/>
            <label for = "amount">Amount $</label>
            <input id = "amount" v-model.nmber="amount" placeholder="0" type="number">
            <br />
            <label for = "type">Type</label>
            <select v-model="type">
                <option disabled value="">Please Select</option>
                <option>Planned</option>
                <option>Estimate</option>
                <option>Pending</option>
                <option>Confirmed</option>
                <option>Future</option>
            </select>
            <br />
            <label for = "date">Date</label>
            <input id = "date" v-model="date" type="date">
            <br />
            <label for = "notes">Notes</label>
            <textarea id = "notes" v-model="notes" placeholder = "Notes"></textarea>
        </form>
    <script src="index.js"></script>
    </body>
</html>