<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src = "../vue/vue.js"></script>
    </head>
    <body>
        <div id = "components-demo">
            <button-counter></button-counter>
            <button-counter></button-counter>
            <button-counter></button-counter>
        </div>
        <div id = "blog-post-demo">
            <div :style="{ fontSize: postFontSize + 'em' }">
                <blog-post
                    v-for="post in posts"
                    v-bind:key="post.id"
                    v-bind:post="post"
                    v-on:enlarge-text="postFontSize  += $event"
                ></blog-post>
            </div>
        </div>
        <div id = "trans-row-demo">
            <trans-entry
                v-for="trans in transactions"
                v-bind:key="trans.id"
                v-bind:name="trans.name"
                v-bind:amount.sync="trans.amount"
                v-bind:type="trans.type"
                v-bind:date="trans.date"
                v-bind:notes="trans.notes"
            ></trans-entry>
        </div>
        <script src="./index.js"></script>
    </body>
</html>